<div class="flex flex-col h-screen justify-center items-center">

  <div x-data="fileUpload()" class="w-1/2 text-gray-500">

    <label
      x-ref="filedrop"
      x-on:drop="isDropping = false"
      x-on:drop.prevent="handleFileDrop($event)"
      x-on:dragover.prevent="isDropping = true"
      x-on:dragleave.prevent="isDropping = false"
      @dragover="$refs.filedrop.classList.add('border-blue-400');"
      @dragleave="$refs.filedrop.classList.remove('border-blue-400');"
      @drop="$refs.filedrop.classList.remove('border-blue-400');"
      class="flex justify-center w-full h-12 pl-4 transition bg-white border-dashed border-2 rounded-md appearance-none cursor-pointer hover:border-gray-400 focus:outline-none"
    >

        <span class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-gray-500" fill="none"
                 viewBox="0 0 24 24"
                 stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"/>
            </svg>
            <span class="ml-2 font-medium">
                Drop the file here, or <span class="text-accent underline">browse</span>
            </span>
        </span>
      <input type="file" @change="handleFileSelect" style="display:none;"/>
    </label>

    <div x-show="progress !== 0" class="bg-gray-200 h-[2px] mt-1">
      <div
        x-show="isUploading"
        class="bg-blue-500 h-[2px]"
        style="transition: width 1s"
        :style="`width: ${progress}%;`"
      ></div>
    </div>

    {% if wireError('myFile') %}
      <div class="mt-2 text-red-500 text-sm">{{ wireError('myFile') }}</div>
    {% endif %}

    {% if myFile %}

      <div class="mt-2">
        <span>{{ myFile.getClientOriginalName() }}</span>
        <button class="ml-2 text-red-500" wire:click="removeMyFile">X</button>
      </div>

      <button
        wire:click="save"
        wire:loading.attr="disabled"
        class="mt-4"
      >Save</button>

    {% endif %}

    {% if message %}

      <div class="mt-2 text-green-500">{{ message }}</div>

    {% endif %}

  </div>

  <script>

    function fileUpload() {

      return {
        isDropping: false,
        isUploading: false,
        progress: 0,

        handleFileSelect(event) {
          if (event.target.files.length) {
            this.uploadFile(event.target.files[0])
          }
        },

        handleFileDrop(event) {
          if (event.dataTransfer.files.length > 0) {
            this.uploadFile(event.dataTransfer.files[0])
          }
        },

        uploadFile(file) {

          const $this = this
          this.isUploading = true

          // Successfully finished upload.
        @this.upload('myFile', file, function (success) {
            $this.isUploading = false
            $this.progress = 0
          },

          // Errored.
          function (error) {
            console.error(error)
          },

          // Upload progress.
          function (event) {
            $this.progress = event.detail.progress
          }
        )

        }
      }
    }

  </script>

</div>
